:root {
	--heading-h1-padding: 0;
	--heading-h3-margin: 0;
	--heading-h3-padding: 0;
	--base-font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

hr {
	margin: 1.5em 0 1em 0;
}

hr:first-of-type {
	margin: 1.25em 0 1em 0;
}

p:first-of-type {
	margin-block-start: 0;
}

.markdown-section blockquote ul {
	margin: 0;
}

.markdown-section ul {
	padding-left: 1.5rem;
	margin: .5em 0 1.5em 0;
}

.sidebar-nav {
	margin: 0;
}

.sidebar-nav a:hover {
	color: white;
	text-decoration: none;
}

.sidebar-nav li.active>a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.sidebar-nav li>a[href^="#/"]:not([href*="?id="]):not(:only-child) {
	color: white;
	font-weight: 500;
}

.sidebar img[alt=the-resting-dev] {
	width: 125px;
	height: 125px;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
}

.sidebar img[alt=the-resting-dev]:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

	0%,
	100% {
		transform: rotate(0)
	}

	20%,
	60% {
		transform: rotate(-25deg)
	}

	40%,
	80% {
		transform: rotate(10deg)
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}
